################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.suo
/OdeToFood/OdeToFood/bin
/OdeToFood/OdeToFood/obj
/OdeToFood/OdeToFood/obj/Debug
