################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.suo
*.user
/OdeToFood/OdeToFood/bin
/OdeToFood/OdeToFood/bin/Debug
/OdeToFood/OdeToFood/obj
/OdeToFood/OdeToFood/obj/Debug
